dn: olcDatabase=mdb,cn=config
objectClass: olcDatabaseConfig
objectClass: olcMdbConfig
olcDatabase: mdb
# olcDbMaxSize: 42949672960
olcDbDirectory: /var/lib/ldap
olcSuffix: dc=tugraz,dc=at
olcRootDN: cn=Manager,dc=tugraz,dc=at
olcRootPW: {SSHA}Dyk3jd5fT0oPFMFAGzN5MsZqMeLUOOwH
# olcDbIndex: uid pres,eq
# olcDbIndex: cn,sn pres,eq,approx,sub
# olcDbIndex: mail pres,eq,sub
# olcDbIndex: objectClass pres,eq
# olcDbIndex: loginShell pres,eq
# olcDbIndex: sudoUser,sudoHost pres,eq
# olcAccess: to attrs=userPassword,shadowLastChange,shadowExpire
#   by self write
#   by anonymous auth
#   by dn.subtree="gidNumber=0+uidNumber=0,cn=peercred,cn=external,cn=auth" manage
#   by dn.subtree="ou=system,dc=tugraz,dc=at" read
#   by * none
# olcAccess: to dn.subtree="ou=system,dc=tugraz,dc=at" by dn.subtree="gidNumber=0+uidNumber=0,cn=peercred,cn=external,cn=auth" manage
#   by * none
# olcAccess: to dn.subtree="dc=tugraz,dc=at" by dn.subtree="gidNumber=0+uidNumber=0,cn=peercred,cn=external,cn=auth" manage
#   by users read
#   by * none
olcAccess: to *
  by dn.base="gidNumber=0+uidNumber=0,cn=peercred,cn=external,cn=auth" manage
  by * none
